<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cooper - Inicio de sesión</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="container">
        <h1 class="titulo">Cooper</h1>
        <form id="login" action="/validationLogin">
            <label for="soid">SOID</label>
            <input type="soid" name="soid" id="soid" required>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
    <script src="js/login.js"></script>
</body>

</html>