<!DOCTYPE html>
<html lang="en">
<%- include('./head'); %>
    <%- include('./modal'); %>

        <body>
            <h1>Informes</h1>
            <select id="filterGrafic">
                <option value="1" default>Corte a este mes</option>
                <option value="0">Corte a hoy</option>
            </select>

            <section id="grafics">
                <div>
                    <div style="display: block;">
                        <canvas id="actarea"></canvas>
                        <br>
                        <canvas id="topUserRend"></canvas>
                    </div>
                    <div style="height: 320px; width: 350px; display: block;">
                        <canvas id="actusuact"></canvas>
                        <br>
                        <canvas></canvas>     
                    </div>

                </div>
                <br>
                <br>

                <canvas id="acttime"></canvas>
                <br>
                <canvas id="actuni"></canvas>
            </section>
            <div id="coortmp" hidden>
                <%= JSON.stringify(actividadesC) %>
            </div>
            <script src="js/informes.js"></script>
        </body>

</html>